
:root{
    --cor-primaria: #D8C4B6;
    --cor-secundaria: #F5EFE7;
    --cor-terciaria: #213555;
    --cor-quarternaria: #3E5879;
}


.menu {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-size: 1.5rem;
    min-width: 160px;
    padding: 16px;
    margin: 40px 0 0 40px;
    text-align: center;
}

.cabecalho {
    position: relative;
    display: inline-block;
}

.menu__navegacao {
    margin: 0 0 0 40px ;
    position: absolute;
    display: none;
    font-size: 1.5rem;
    background-color: var(--cor-terciaria);
    min-width: 160px;
    z-index: 1;
}

.menu__navegacao .menu__navegacao-links {
    padding: 16px;
    color: var(--cor-primaria);
    display: block;
}

.menu__navegacao .menu__navegacao-links:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-quarternaria);
}

.show {display: block;}

.cabecalho:hover .menu {
    background-color: var(--cor-terciaria);
    color: var(--cor-quarternaria);
}
body {
    background-color: var(--cor-primaria);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container__title {
    color: var(--cor-quarternaria);
}

.container__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15%;
    gap: 30px;
    font-size: 1.25rem;
}

.container__content-form {
    background-color: var(--cor-secundaria);
    color: var(--cor-quarternaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 20px;
    padding: 20px;
}

.container__content-form--answer {
    min-width: fit-content;
    background-color: var(--cor-primaria);
    padding: 10px;
    border: solid 1px var(--cor-quarternaria);
    border-radius: 8px;
    color: var(--cor-quarternaria);
    width: 50%;
    font-size: 30px;
    text-align: center;
}

.container__content-form--button {
    min-width: fit-content;
    width: 50%;
    padding: 10px;
    font-size: 1.5rem;
    background-color: var(--cor-primaria);
    color: var(--cor-quarternaria);
    border-radius: 8px;
    border: solid 1px var(--cor-quarternaria);
}

.container__content-form--button:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.container__content-form--result {
    background-color: var(--cor-primaria);
    width: 50%;
    min-width: fit-content;
    text-align: center;
    padding: 10px;
    border: solid 1px var(--cor-quarternaria);
    border-radius: 8px;
}

.container__content-image {
    width: 50%;
}

.teste {color: #ff0000;}

@media (max-width: 1200px) {
    .menu {
        margin: 4% 0 0 4%;
    }
    .menu__navegacao {
        margin: 0 0 0 4%;
    }

    .container {
        gap: 30px;
    }

    .container__content {
        flex-direction: column;
        margin: 0 5%;
    }
    
    .container__content-form--ask {
        display: none;
    }
    
}